@import "navAndFooterStyles.css";

::-webkit-scrollbar {
    display: none;
}

table {
    font-family: "Poppins", sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-weight: 420;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    font-weight: bolder;
    font-size: larger;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

body {
    z-index: 1;
    overflow: auto;
    margin-left: 60px;
    margin-top: 60px;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 420;
    height: 80%;
}

h1 {
    font-size: 45px;
    letter-spacing: 3px;
    font-weight: bolder;
    text-align: center;
}

h2 {
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
}

p {
    text-align: center;
}

.fab {
    color: gray;
}

.img-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.box {
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 10%;
    text-align: center;
}

.extra {
    padding-bottom: 10%;
}

tr.highlighted td {
    background: rgb(162, 192, 192);
}

.fa-youtube:hover {
    color: red;
}

@media screen and (max-width: 48em) {
    .img-box {
        border-radius: 100%;
        width: 350px;
        height: 260px;
    }
    body {
        margin: auto;
        margin-top: 15%;
        font-size: 12px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }
    .box p {
        font-size: smaller;
    }
    .extra {
        padding-bottom: 20%;
    }
}